LOCATE COMP "A[0]" SITE "69";
IOBUF PORT "A[0]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[1]" SITE "68";
IOBUF PORT "A[1]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[2]" SITE "66";
IOBUF PORT "A[2]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[3]" SITE "65";
IOBUF PORT "A[3]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[4]" SITE "63";
IOBUF PORT "A[4]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[5]" SITE "59";
IOBUF PORT "A[5]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[6]" SITE "58";
IOBUF PORT "A[6]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "A[7]" SITE "57";
IOBUF PORT "A[7]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[0]" SITE "56";
IOBUF PORT "B[0]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[1]" SITE "53";
IOBUF PORT "B[1]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[2]" SITE "52";
IOBUF PORT "B[2]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[3]" SITE "51";
IOBUF PORT "B[3]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[4]" SITE "50";
IOBUF PORT "B[4]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[5]" SITE "49";
IOBUF PORT "B[5]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[6]" SITE "47";
IOBUF PORT "B[6]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "B[7]" SITE "45";
IOBUF PORT "B[7]" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "C[0]" SITE "38";
IOBUF PORT "C[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[1]" SITE "37";
IOBUF PORT "C[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[2]" SITE "36";
IOBUF PORT "C[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[3]" SITE "35";
IOBUF PORT "C[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[4]" SITE "34";
IOBUF PORT "C[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[5]" SITE "33";
IOBUF PORT "C[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[6]" SITE "31";
IOBUF PORT "C[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "C[7]" SITE "30";
IOBUF PORT "C[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[0]" SITE "28";
IOBUF PORT "D[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[1]" SITE "27";
IOBUF PORT "D[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[2]" SITE "26";
IOBUF PORT "D[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[3]" SITE "24";
IOBUF PORT "D[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[4]" SITE "23";
IOBUF PORT "D[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[5]" SITE "22";
IOBUF PORT "D[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "D[6]" SITE "21";
IOBUF PORT "D[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16;

LOCATE COMP "D[7]" SITE "20";
IOBUF PORT "D[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16;


LOCATE COMP "sclk" SITE "43";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "41";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;

LOCATE COMP "mosi" SITE "40";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "cs" SITE "44";
IOBUF PORT "cs" IO_TYPE=LVCMOS33;

LOCATE COMP "ft_oe" SITE "3";
IOBUF PORT "ft_oe" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_wr" SITE "6";
IOBUF PORT "ft_wr" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_rd" SITE "7";
IOBUF PORT "ft_rd" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_txe" SITE "8";
IOBUF PORT "ft_txe" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "ft_clkout" SITE "4";
IOBUF PORT "ft_clkout" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;
FREQUENCY PORT "ft_clkout" 60000000 HZ;

LOCATE COMP "ft_rxf" SITE "9";
IOBUF PORT "ft_rxf" IO_TYPE=LVCMOS33 HYSTERESIS=LARGE;

LOCATE COMP "ft_d[7]" SITE "10";
IOBUF PORT "ft_d[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[6]" SITE "11";
IOBUF PORT "ft_d[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[5]" SITE "12";
IOBUF PORT "ft_d[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[4]" SITE "13";
IOBUF PORT "ft_d[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[3]" SITE "14";
IOBUF PORT "ft_d[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[2]" SITE "16";
IOBUF PORT "ft_d[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[1]" SITE "17";
IOBUF PORT "ft_d[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "ft_d[0]" SITE "19";
IOBUF PORT "ft_d[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "status" SITE "67";
IOBUF PORT "status" IO_TYPE=LVCMOS33;

