
BLOCK ASYNCPATHS;
BLOCK RESETPATHS;

LOCATE COMP "clk" SITE "C8";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "rstn" SITE "B3";
IOBUF PORT "rstn" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "C11";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE "A11";
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rtsn" SITE "F10";
IOBUF PORT "uart_rtsn" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_ctsn" SITE "B11";
IOBUF PORT "uart_ctsn" IO_TYPE=LVCMOS33;



LOCATE COMP "dbg" SITE "A3";
IOBUF PORT "dbg" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "H11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "J13";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "J11";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "L12";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "K11";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "L13";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "N15";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "P16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[0]" SITE "T3";
IOBUF PORT "out[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[1]" SITE "R4";
IOBUF PORT "out[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[2]" SITE "N6";
IOBUF PORT "out[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[3]" SITE "L7";
IOBUF PORT "out[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[4]" SITE "P7";
IOBUF PORT "out[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[5]" SITE "R7";
IOBUF PORT "out[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[6]" SITE "P8";
IOBUF PORT "out[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "out[7]" SITE "T8";
IOBUF PORT "out[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "sclk" SITE "P11";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "T11";
IOBUF PORT "miso" IO_TYPE=LVCMOS33 DRIVE=16;

LOCATE COMP "mosi" SITE "R11";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "cs" SITE "T12";
IOBUF PORT "cs" IO_TYPE=LVCMOS33;

LOCATE COMP "dbg_sclk" SITE "N10";
IOBUF PORT "dbg_sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "dbg_miso" SITE "M11";
IOBUF PORT "dbg_miso" IO_TYPE=LVCMOS33 DRIVE=16;

LOCATE COMP "dbg_mosi" SITE "R13";
IOBUF PORT "dbg_mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "dbg_cs" SITE "T14";
IOBUF PORT "dbg_cs" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[0]" SITE "T4";
IOBUF PORT "inputs[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[1]" SITE "P4";
IOBUF PORT "inputs[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[2]" SITE "T5";
IOBUF PORT "inputs[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[3]" SITE "R6";
IOBUF PORT "inputs[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[4]" SITE "T7";
IOBUF PORT "inputs[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[5]" SITE "R8";
IOBUF PORT "inputs[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[6]" SITE "M6";
IOBUF PORT "inputs[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[7]" SITE "L8";
IOBUF PORT "inputs[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[8]" SITE "M8";
IOBUF PORT "inputs[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[9]" SITE "N9";
IOBUF PORT "inputs[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[10]" SITE "R10";
IOBUF PORT "inputs[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "inputs[11]" SITE "P10";
IOBUF PORT "inputs[11]" IO_TYPE=LVCMOS33;


FREQUENCY PORT "clk" 12000000 HZ;
