
BLOCK ASYNCPATHS;
BLOCK RESETPATHS;

LOCATE COMP "clk" SITE "C8";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "rstn" SITE "B3";
IOBUF PORT "rstn" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "C11";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rx" SITE "A11";
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rtsn" SITE "F10";
IOBUF PORT "uart_rtsn" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_ctsn" SITE "B11";
IOBUF PORT "uart_ctsn" IO_TYPE=LVCMOS33;



LOCATE COMP "dbg" SITE "A3";
IOBUF PORT "dbg" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "H11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "J13";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "J11";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "L12";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "K11";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "L13";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "N15";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "P16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 12000000 HZ;
